**/.DS_Store
assets/vim/bundle/ctrlp.vim/.netrwhist
*.swp
assets/nvim/nvim
assets/vim/plugged/
assets/config/nvim/pack/
lib/pr_reviewer/reviews
assets/claude/hooks/**/.state.json
assets/claude/hooks/**/packs/*/sounds/
